.fg-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.fg-container-fluid {
  width: 100%;
  padding: 0 30px;
}

.flex {
  display: flex;
  
  &.allow-wrap {
    flex-wrap: wrap;
  }

  &.row-layout {
    flex-direction: row;
  }

  &.column-layout {
    flex-direction: column;
  }

  &.vertical {
    &.align-middle {
      align-items: center;
    }

    &.align-top {
      align-items: flex-start;
    }

    &.align-bottom {
      align-items: flex-end;
    }

    &.align-stretch {
      align-items: stretch;
    }
  }

  &.horizontal {
    &.align-center {
      justify-content: center;
    }

    &.align-left {
      justify-content: flex-start;
    }

    &.align-right {
      justify-content: flex-end;
    }
  }

  &.align-top-left {
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  &.align-top-center {
    justify-content: center;
    align-items: flex-start;
  }

  &.align-top-right {
    justify-content: flex-end;
    align-items: flex-start;
  }

  &.align-middle-left {
    justify-content: flex-start;
    align-items: center;
  }

  &.align-middle-center {
    justify-content: center;
    align-items: center;
  }

  &.align-middle-right {
    justify-content: flex-end;
    align-items: center;
  }

  &.align-bottom-left {
    justify-content: flex-start;
    align-items: flex-end;
  }

  &.align-bottom-center {
    justify-content: center;
    align-items: flex-end;
  }

  &.align-bottom-right {
    justify-content: flex-end;
    align-items: flex-end;
  }

  .fill {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .override {
    &.vertical {
      &.align-top {
        align-self: flex-end;
      }

      &.align-bottom {
        align-self: flex-end;
      }

      &.align-center {
        align-self: center;
      }
    }
  }
}
